{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block title %}
    Track Me | Dashboard
{% endblock title %}

{% block navbar %}
    {% include('TrackmeBackendBundle::base_admin_navbar.html.twig') %}
{% endblock navbar %}

{% block body %}
<div class="row-fluid">
	<div class="span8">
		{{ google_map_container(map) }}
		{{ google_map_js(map) }}
	</div>
	<div class="span4">
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Calcular Viaje
					</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse in">
					<div class="accordion-inner">
						<form method="post" {{ form_enctype(form) }}>
							{{ form_errors(form) }}
							{{ form_widget(form) }}
							{{ form_rest(form) }}
							<input type="submit" class="btn btn-success" value="Calcular" />
						</form>
					</div>
					<ul>
						{% if(duration != 0) %}
						<li>Tiempo estimado: <b>{{duration}}</b></li>
						{% endif %}
						{% if(distance != null) %}
						<li>Distancia aproximada: <b>{{distance}}</b></li>
						{% endif %}
						{% if(estimate != null) %}
						<li>Costo estimado: $<b>{{estimate|number_format(1, '.', ',')}}</b></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Ultimos Viajes
					</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						<ul>
                          {% for ot in last_ot %}
                            <li><a href="{{ path('Trackme_BackendBundle_Ot_show', {'pk': ot.id})}}">{{ot}}</a></li>
                          {% else %}
                            <li>No tiene ordenes de transporte</li>
                          {% endfor%}
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
<footer>
	<hr>
	<p>
		{% block footer_text %}
		&copy; {{"now"|date("Y")}} Track Me! Todos los derechos reservados
		{% endblock %}
	</p>
</footer>
{% endblock footer %}
