{% extends '::bootstrap.html.twig' %}

{% block page_title %}
{% endblock%}

{% block content %}
<div class="hero-unit">
  <div class="row-fluid">
    <div class="span4">
      <h1>Track Me!</h1>
      <br>
      <p>
        Nuestro sistema es genial, le permitira controlar y ver la posicion de su flota facilmente!
      </p>
      <p>
        Registrarte y empezar a probar su funcionamiento solo te tomara 2 pasos ...
      </p>
      <a class="btn btn-success btn-large" href="{{ path('pricing')}}">Registro</a>
    </div>
    <div class="span6 offset2">
      {% include 'TrackmeFrontendBundle:Default:carrousel.html.twig'%}
    </div>
  </div>
</div>

{% endblock %}

    {% block nav%}
  <ul class="nav" id="main-menu-left">
        {% if menu is defined %}
            {% for m in menu %}
      <li><a href="{{ path('page', { 'url': m.url})}}">{{ m.menu }}</a></li>
            {% endfor %}
        {% endif %}
      <li><a href="{{ path('pricing')}}">Precios</a></li>
      <li><a href="{{ path('fos_user_security_login')}}">Ingresar</a></li>
    </ul>
    {% endblock%}

{% block javascripts %}
{{parent()}}
    <script type="text/javascript">
    $('.carousel').carousel({
      interval: 4000
    });
    $('.carousel').carousel('cycle');
      </script>
{% endblock %}
