{% extends 'TrackmeFrontendBundle:Default:index.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
<link rel="stylesheet" href="{{ 'css/e0a58c0_part_1_pricing_5.css' }}" />
{% endblock %}

{% block page_title %}
Planes y Precios
{% endblock %}

{% block content %}
<div class="span12">

    <div class="widget">

        <div class="widget-header">
            <h3>Escoja su Plan</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <div class="pricing-plans plans-4">

                {% for plan in plans%}
                <div class="plan-container">
                    {% if plan.featured %}
                    <div class="plan orange">
                    {% else %}
                    <div class="plan">        
                    {% endif%}        
                        <div class="plan-header">

                            <div class="plan-title">
                                {{plan.name}}	        		
                            </div> <!-- /plan-title -->

                            <div class="plan-price">
                                <span class="note">UF</span>{{plan.price|number_format(1, '.', ',')}}<span class="term">Mensual</span>
                            </div> <!-- /plan-price -->

                        </div> <!-- /plan-header -->	          

                        <div class="plan-features">
                            {{plan.description|raw}}
                        </div> <!-- /plan-features -->

                        <div class="plan-actions">				
                            <a href="{{ path('signup', { 'plan': plan.id})}}" class="btn">Contratar</a>				
                        </div> <!-- /plan-actions -->

                    </div> <!-- /plan -->
                </div>
                {% endfor%}
            </div> <!-- /pricing-plans -->

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->					

</div>
{% endblock %}