{% extends '::bootstrap.html.twig' %}

{% block page_title %}
Empresa
{% endblock %}

{% block content %}
<form action="{{ path('create_business') }}" name="form-empresa" method="post" {{ form_enctype(form) }}>
	{{ form(form) }}
	{{ form_rest(form) }}
	<input type="hidden" value="{{state.id}}" name="state" id="state" />
	<input type="hidden" value="{{plan.id}}" name="plan" id="plan" />
	<input type="submit" value="Aceptar" class="btn btn-success btn-large"/>
</form>
{% endblock %}
