{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block title %}
Track Me | Pagos y Gestión
{% endblock title %}

{% block navbar %}
{% include('TrackmeBackendBundle::base_admin_navbar.html.twig') %}
{% endblock navbar %}

{% block body %}
<div class="row-fluid">
  <div class="span6">
    <h3>Pagos Pendientes</h3>
    <table class="table table-striped table-hover table-condensed">
			{% for p in payments%}
        <tr class="list_trow">
          <td>Fecha: {{ p.getDatePayment|date('d/m/Y') }}</td>
          <td>Monto (CLP): ${{ p.getClpAmount|number_format(0, ',', '.') }} </td>
          <td>Monto (USD): ${{ p.getAmount|number_format(2, ',', '.') }} </td>
          <td><a href="{{ path('admin_business_details_payment', { 'id': p.id})}}">Pagar</a></td>
        </tr>
            {% else %}
        <tr class="list_trow">
          <td>¡Hurra! No hay pagos pendientes</td>
        </tr>
            {% endfor %}

      </table>
      <h3>Pagos Realizados</h3>
      <table class="table table-striped table-hover table-condensed">
			{% for p in approved %}
          <tr class="list_trow">
            <td>Fecha: {{ p.getPaymentInstruction.getPayments.first.getUpdatedAt|date('d/m/Y') }}</td>
            <td>Monto (CLP): ${{ p.getClpAmount|number_format(0, ',', '.') }} </td>
            <td>Monto (USD): ${{ p.getPaymentInstruction.getPayments.first.getApprovedAmount|number_format(2, ',', '.') }} </td>
          </tr>
            {% else %}
          <tr class="list_trow">
            <td>Por el momento no hay pagos aprovados</td>
          </tr>
            {% endfor %}

        </table>
      <h3>Estadisticas de uso</h3>
      <table class="table table-striped table-hover table-condensed">
          <tr class="list_trow">
            <th>Usuarios registrados</th>
            <td>{{user.real}}</td>
          </tr>
          <tr class="list_trow">
            <th>Usuarios contratados por plan</th>
            <td>{{user.estimate}}</td>
          </tr>
          <tr class="list_trow">
            <th>Viajes totales (OT)</th>
            <td>{{ot.quantity}}</td>
          </tr>
          <tr class="list_trow">
            <th>Coordenadas totales</th>
            <td>{{coor.quantity}}</td>
          </tr>

        </table>
      </div>
      <div class="span3">
        <div id="linechart_gauge" style="min-width: 400px; height: 350px; margin: 0 auto"></div>
      </div>
    </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts-more.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
{% include 'TrackmeBackendBundle:Payment:gauge.html.twig' with {'serie_user': user} %}
{% endblock %}

{% block footer %}
    <footer>
      <hr>
      <p>
		{% block footer_text %}
          &copy; {{"now"|date("Y")}} Track Me! Todos los derechos reservados
		{% endblock %}
        </p>
      </footer>
{% endblock footer %}
