{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block title %}
Track Me | Payments
{% endblock title %}

{% block navbar %}
  {% include('TrackmeBackendBundle::base_admin_navbar.html.twig') %}
{% endblock navbar %}

{% block body %}
<div class="row-fluid">
  <div class="span6">
    <h3>Selecciona método de pago.</h3>
      <form action="{{ path('admin_business_details_payment', { 'id': id_payment}) }}" class="form-inline" method="POST" {{ form_enctype(form) }}>
          {{ form_errors(form) }}
          <table>
            <tr>
              <td>{{ form_widget(form.method) }}</td>
              <td>&nbsp;</td>
              <td><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></td>
            </tr>
          </table>
          {{ form_rest(form) }}
          <br>
          <input type="submit" class="btn btn-primary" />
      </form>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>
	<hr>
	<p>
		{% block footer_text %}
		&copy; {{"now"|date("Y")}} Track Me! Todos los derechos reservados
		{% endblock %}
	</p>
</footer>
{% endblock footer %}
